* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  display: block;
  object-fit: cover;
  height: 300px;
  width: 400px;
}

/* ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 64px 16px 16px 16px;
} */

ul {
  display: flex;
  flex-wrap: wrap;
}
